@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css");


/* estilos.css */

/* Estilo predeterminado (modo claro) */
body {
  background-color: white;
  color: black;
}

.navbar {
  background-color: white;
  color: black;
}

/* Estilo para el modo oscuro */
body.dark-mode {
  background-color: black;
  color: white;
}

body.dark-mode .navbar {
  background-color: #333 !important; 
  color: white;
}

body.dark-mode .navbar a,
body.dark-mode .navbar .navbar-brand,
body.dark-mode .navbar .nav-link {
  color: white;
}


.imagenProducto {
    width: 250px;
    height: 250px;
    object-fit: cover;
    display:block;
    margin:0px;
}